{% extends 'base.html' %}


{% block content %}
    <h1 class="text-center mt-5">{{ title }}</h1>
    <h5 class="text-center mt-2">
        {{ message }}
    </h5>
    <div class="container text-center mt-5 d-flex justify-content-center">
        <form  style="width: 400px" action="{% url 'school' %}" method="post">
            {% csrf_token %}
            <!-- Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input required name="name" type="text" id="name" class="form-control"/>
                <label class="form-label" for="name">Nomi:</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input required name="address" type="text" id="address" class="form-control"/>
                <label class="form-label" for="address">Manzili:</label>
            </div>

            <!-- Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input required name="phone_number" type="text" id="phone_number" class="form-control"/>
                <label class="form-label" for="phone_number">Telefon raqami:</label>
            </div>
            
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Yuborish</button>
        </form>
    </div>

    <div class="container text-center mt-5">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>#</th>
                    <th>Nomi</th>
                    <th>Manzili</th>
                    <th>Telefon raqami</th>
                </tr>
            </thead>
            <tbody>
                {% for school in schools %}
                    <tr>
                        <td>
                            <p class="fw-normal mb-1">
                                {{ forloop.counter }}
                            </p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">
                                {{ school.name }}
                            </p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">
                                {{ school.address }}
                            </p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">
                                {{ school.phone_number }}
                            </p>
                        </td>
                    </tr>	
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
